*{
  margin: 0;
  padding: 0;
  
}

html {
  font-size: 62.5%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height:100%;
  background-color: #f1f1f1;
}
.header{
  position: fixed;
  height:100px;
  top:0;
  width: 100vw;
  padding: 30px 0px;
  background-color: #570000;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:25px;
  z-index: 1;
}

.logoImg{
  height:50px;
  width: auto;
}

.headerHead{
  display: flex;
  gap:10px;
  align-items: center;
  color: #FFF;
  font-size: 2.3rem;
}
.headerHead img{
  width:auto;
  height:80px;
}


.header button{  
  font-size: 2rem;
  border: none;
  background-color: #57000098;
  color:#fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap:10px;
}


.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: max-content;
  gap:2rem;
  margin: 225px auto 30px auto;
  max-width: 90%;
  place-self: center;
}

.bookSectionTitle{
  color: #fff;
  margin: 20px 0;
  background-color: #313131;
  padding:10px;
}

.article{
  background-color: #fff;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  padding:20px;
  justify-content: space-between;
  box-shadow: 0px 5px 10px #b3b3b3;
}

.bookInfo{
  color:#313131;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.bookInfo h1 {
  font-size: 2.2em;
}

#authorName{
  font-size: 1.4em;
  font-weight: bold;
}

.bookInfo p {
  font-size: 1.2em;
}

.article-buttons{
  display: flex;
  gap:10px;
  justify-content: space-between;
  align-items: center;
  margin-top:25px;
}
.article-buttons button{
  padding: 3px 5px;
  margin-right:10px;
}

.favorite-button{
  color:red;
  background-color: #fff;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.favorite-button:hover{
  color: #cc0000;
}



/*MODAL STYLES*/
dialog{
  box-shadow: 3px 0 5px -2px rgba(0, 0, 0, 0.22);
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding:20px;
  margin:auto auto;
}

::backdrop{
  background-color: rgba(0, 0, 0, 0.63);
}
.modalContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:15px;
}

.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modalContainer form{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap:15px;
  width:100%;
}

.bookForm label, .bookForm legend, fieldset{
    font-size: 12px;
    text-transform: uppercase;
    color: #616161;
    font-weight: 600;
}

.bookForm input , fieldset{
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  padding:5px;
  font-size: 2rem;
}

input:focus{
  box-shadow: 0 2px 8px -2px gray;
}


.closeModal{
  padding:7px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  font-size:2rem;
}























